*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

@media screen and (max-width: 420px){
.banner{
    background-image: linear-gradient(-90deg, #a5a5a5, #b5b5b5, #e2e2e2);
    color: white;
    padding:  4% 8% ;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    /* margin-left: -10px;
    margin-right: -10px; */
    height: 70px;
}

.infobanner{
    display: flex;
    align-items: center;
}

.infobanner li{
    padding: 7px;
}

.item2 {
    flex-grow: 1;
}

.categorias{
    display: flex;
    justify-content: space-around;
    margin-top:35px;
    padding: 4px;
    border-bottom: 1px solid #e2e2e2;
}

.categorias li a{
    color: #898989;
}

.categorias li a:hover {
    color: #4c4c4c;
    border-bottom: 4px solid #898989;
    font-weight: bold;
    padding: 4px;
}

.botoes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: -30px;
    margin-top: 20px;
}

.botoes li button {
    background-color: white;
    color: #a5a5a5;
    border-radius:100%;
    width:5.5em;
    height:5.5em;
    border:1px solid #f2f2f2;
    outline:none;
}

.botoes li button:hover {
    background: #bd0048;
    cursor: pointer;
    color: white;
}

.contprincipal {
    height: 410px;
    color: #898989;
    background-color: #f2f2f2;
}

.conteudo2 {
    display: flex;
    flex-direction: column;
}

.titulo {
    margin: 50px 0 -5px 15px;
}

.conteudo2 article {
    margin: 15px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}

.bloco1 {
    border-bottom: 7px solid #FFE065;
    height: 110px ;
    border-radius: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    flex-grow: 1;
}

.it1 {
    font-size: 13px;
    margin-top: 10px;
}

.it2 {
    font-size: 9.5px; 
}

.it3 {
    padding: 10px;
    width: 30%;
    justify-content: center;
    align-items: flex-end;
    display: flex;  
    flex-direction: column;
    padding-right: 20px;
    font-size: 13px;
}

.fa {
    margin-bottom: 8px;  
}

.valor {
    font-size: 25px;
}

.rodape {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.menu li {
    padding: 8px;
    text-align: center;
    color: #898989;
}

.menubotao {
    margin-top: -40px;
}

.buy {
    background-color: #4c4c4c;
    border-radius:100%;
    border:10px;
    width:7.5em;
    height:7.5em;
    outline:none;
    border:10px solid #f2f2f2;
}

.comprar {
    display: flex;
    flex-direction: column;
    color: white;
    font-size:10px;
}

.comprar li {
    margin-top: 3px;
}
}